/* .col {
    border: 2px; 
    border-color: #282c34;
} */

/* .container-box {
    background-color: blue;
} */

.btn {
    border: 0;
    width: initial;
    font-weight: 500; 
    color: #282c34;
   

}

